doctype
html
  head
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/main.js")
  body
    button.button Open modal
    .overlay
      .modal
        .modal__inner
          button.modal__close Close
          .modal__headline Modal headline
          .modal__content
            p Modal content
        